body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: changeBackground 1s infinite;
}

@keyframes changeBackground {
  0%, 100% {
      background-image: url("nelson_mandela.jpg");
  }

  33.33% {
      background-image: url("walt_disney.jpg");
  }

  66.66% {
      background-image: url("steve_jobs.jpg");
  }
}

.container .container-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
  cursor: default;
  animation: highlightH1 2s infinite;
}

@keyframes highlightH1 {
  0% {
      color: #2196f3;
  }
  50% {
      color: #ffcc00;
  }
  100% {
      color: #2196f3;
  }
}

#quote-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

#quote {
  font-size: 24px;
  margin-bottom: 20px;
  animation: highlightQuote 1s infinite;
}

@keyframes highlightQuote {
  0% {
      background-color: rgba(255, 255, 255, 0.5);
  }
  50% {
      background-color: #ffcc00;
  }
  100% {
      background-color: rgba(255, 255, 255, 0.5);
  }
}

#owner {
  font-size: 18px;
  margin-top: 10px;
  animation: highlightOwner 2s infinite;
}

@keyframes highlightOwner {
  0% {
      color: #2196f3;
  }
  50% {
      color: #ffcc00;
  }
  100% {
      color: #2196f3;
  }
}

.new-quote-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  animation: pulse 2s infinite;
  pointer-events: auto;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.new-quote-button:hover {
  background-color: #0c7cd5;
}

.animation-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}